h1, p, div.button {
  text-align: center;
}

h1 {
  font-size: 8vh;
  margin: 20px 0 30px 0; 
}

p {
  color: darkgray;
  font-size: 7vh;
  margin: 25px;
}

div.calculator-body {
  border: solid 2px black;
  width: 50%;
  margin: auto;
}

button {
  color: white;
  font-size: 5vh;
  width: 20%;
  border-radius: 10px;
  margin: 10px;
}

button.clear {
  background: lightpink;
}

button.symbols {
  background: lightblue;
}

button.number {
  background: lightgray;
}

button.equal {
  background: palegoldenrod;
}